$color-main: #FF8C00;
$color-light: #E89D0C;
$color-lighter: #FFC50D;
$color-dark: #E8640C;
$color-darkest: #FF4B0D;
$color-darkest: #FF4B0D;
$color-text: #666;
$color-border: #EEE;
$padding: 10px;
$margin-bottom: 10px;
